@import 'colors.css';

/***************************/
/* header */
/***************************/

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 173.6rem;
	margin: 0 auto;
	padding: 9.6rem 6.4rem 3.2rem 4.8rem;
	font-size: 1.9rem;
	color: var(--colorGray);
}

.nav-list {
	display: flex;
	gap: 5.6rem;
	width: 100%;
	list-style: none;
}
.nav-list-item:link,
.nav-list-item:visited {
	color: var(--colorGray);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: color 0.3s ease-out;
}
.nav-list-item:hover,
.nav-list-item:active {
	color: var(--colorPrimary);
}

.contact-info {
	display: flex;
	align-items: center;
	gap: 2.4rem;
	font-size: 1.75rem;
	letter-spacing: 1px;
}
.contact-info p {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.contact-info a:link,
.contact-info a:visited {
	color: inherit;
	text-decoration: none;
}
.contact-info a:hover,
.contact-info a:active {
	color: var(--colorPrimary);
	transition: color 0.3s ease-out;
}
.icon-contact {
	height: 2.25rem;
	width: 2.25rem;
	color: var(--colorPrimary);
	transition: color 0.3s;
}

.icon-contact:hover {
	color: var(--colorPrimaryLight);
}

/***************************/
/* hero-img */
/***************************/

.hero-box {
	position: relative;
	max-width: 173.6rem;
	margin: 0 auto;
}
.circle-box {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: #fff;

	border-radius: 50%;
	z-index: 10;
	width: 27rem;
	height: 26rem;
}
.circle-box img {
	transform: translateX(-0.25rem);
	width: 29rem;
	height: 28rem;
	object-fit: cover;
}
.hero-img {
	width: 100%;
}

.header-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	background-image: linear-gradient(180deg, rgba(241, 124, 125, 0.24) 0%, rgba(155, 15, 15, 0) 100%);
}

/***************************/
/* know-us */
/***************************/

.section-know-us {
	padding-top: 9.6rem;
}

.know-us-box-img {
	position: relative;
	overflow: hidden;
}
.know-us-box-text:hover .border-bottom-line {
	opacity: 100%;
}
.know-us-box-img:hover img {
	transform: scale(1.1);
}
.know-us-box-img img {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}

.know-us-box-text {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
}
.know-us-description {
	margin-top: 2.4rem;
	font-size: 3rem;
	line-height: 1.7;
	color: var(--colorDarkGray);
	letter-spacing: 0.75px;
}

.border-bottom-line {
	background-color: var(--colorPrimary);
	margin-top: auto;
	height: 5px;
	border: none;
	opacity: 50%;
	transition: opacity 0.3s;
}

.btn-contact {
	margin-top: auto;
	align-self: start;
}

/***************************/
/* offert */
/***************************/

.offert-box {
	box-shadow: 0 4px 9px rgba(0, 0, 0, 0.24);
	transition: all 0.3s;
}

.offert-box:hover {
	transform: translateY(-4px);
}
.offert-box:hover .offert-box-text--title {
	color: var(--colorPrimary);
}
.offert-box:hover .circle-logo {
	background-color: var(--colorPrimary);
}

.offert-box-header {
	position: relative;
}
.offert-box-header img {
	width: 100%;
	max-height: 22rem;
}
.circle-logo {
	position: absolute;
	bottom: -17%;
	right: 10%;
	width: 8rem;
	height: 8rem;
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.3s;
}

.offert-icon {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 15%;
	top: 24%;
	height: 7rem;
	z-index: 10;

	color: var(--colorDarkGray);
	transition: all 0.3s;
}
.offert-icon-2 {
	left: 23%;
	top: 16%;
}
.offert-icon-4 {
	left: 20%;
	top: 20%;
}
.offert-icon-5 {
	left: 23%;
	top: 22%;
}
.offert-icon-6 {
	left: 24%;
	top: 22%;
}

.offert-box:hover .offert-icon {
	color: #fff;
}

.circle-logo img {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 20%;
	height: 5rem;
	z-index: 10;
}

.offert-box-text {
	padding: 4.5rem 2.5rem;
}

.offert-box-text--title {
	margin-bottom: 0.4rem;
	font-size: 2.4rem;
	font-weight: 700;
	color: var(--colorDarkGray);
	letter-spacing: 0.75px;
	transition: all 0.3s;
}
.offert-box-text-desc {
	color: var(--colorGray);
	letter-spacing: 1px;
}

/***************************/
/* gallery */
/***************************/
.gallery {
	position: relative;
}
.grid-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	
	grid-gap: 2rem;
}

.grid-item {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	transition: transform 0.3s ease;
}
.grid-item:hover .shadow-img-gallery {
	opacity: 1;
}
.grid-item:hover .eye-icon {
	opacity: 1;
	transform: scale(1);
}
.grid-item::after {
	content: '123';
	position: absolute;
	inset: 0;
	opacity: 10%;
	background-color: var(--colorPrimary);
	pointer-events: none;
}

.gallery-image {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}
.shadow-img-gallery {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
	background-color: rgba(5, 4, 4, 0.67);
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;
}

.eye-icon {
	font-size: 4rem;
	color: #fff;
	transform: scale(0.1);
	opacity: 0;
	transition: all 0.3s ease;
}
.gallery-image:hover {
	transform: scale(1.1);
}

.grid-item--1 {
	grid-column: 1;
	grid-row: 1/3;
}
.grid-item--2 {
	grid-column: 2;
	grid-row: 1/2;
}
.grid-item--3 {
	grid-column: 3;
	grid-row: 1/3;
}
.grid-item--4 {
	grid-column: 1;
	grid-row: 3/4;
}
.grid-item--5 {
	grid-column: 2;
	grid-row: 2/4;
}

.lightbox {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: flex-start;
	top: 0;
	left: 0;
	padding: 2rem;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(4px);
	z-index: 100;
	overflow-y: scroll;
	opacity: 0;
	transition: all 0.3s ease-in;
}

.lightbox img {
	margin: auto 0;
	width: auto;
	max-width: 90%;
	max-height: 60rem;
	box-shadow: 0 10px 35px #000;
	user-select: none;
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.arrow {
	position: fixed;
	top: 50%;
	font-size: 2.8rem;
	text-align: center;
	color: #ccc;
	transition: color 0.2s;
	cursor: pointer;
}

.arrow:hover {
	color: #fff;
}

.arrow-left {
	left: 1rem;
}
.arrow-right {
	right: 1rem;
}

.close-lightbox {
	position: fixed;
	right: 1rem;
	background: none;
	border: none;
	font-size: 2.8rem;

	color: #ccc;
	cursor: pointer;
}
/***************************/
/* contact */
/***************************/

.form-contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	min-width: 100rem;
}
.form-contact-input,
.form-contact-textarea {
	padding: 14px 24px 15px 024px;
	font-size: 1.6rem;
	font-family: inherit;
}
.form-contact-input:focus,
.form-contact-textarea:focus {
	outline: none;
	box-shadow: 0 5px 32px rgba(241, 124, 125, 0.17);
}
.form-contact-textarea {
	grid-column: 1/3;
	min-width: 100%;
	min-height: 20rem;
}

.form-contact-input::placeholder {
	color: var(--colorDarkGray);
}

.form-contact-btn {
	width: 38%;
	font-size: 1.6rem;
}

/***************************/
/* footer */
/***************************/

.footer {
	background-color: var(--colorGray--2);
	padding-top: 9.6rem;
	color: #e4e4e4;
}

.footer-box {
	/* display: flex;
	justify-content: space-around;
	width: 100%; */

	display: grid;
	grid-template-columns: auto 1fr 1fr;
	width: 100%;
	max-width: 100rem;
	/* text-align: center; */
}
.footer-logo {
	display: flex;
	flex-direction: column;
	text-align: center;
	/* justify-items: stretch; */
}
.footer-logo img {
	max-width: 25.5rem;
}

.footer-text-box {
	margin-top: 2.4rem;
}

.footer-author {
	font-weight: 700;
	color: var(--colorPrimary);
	text-decoration: none;
	transition:  color .3s ;
}
.footer-author:hover {
	
	color: var(--colorPrimaryLight);
	
}

.footer-contact {
	display: flex;
	flex-direction: column;
	justify-self: end;
	margin-top: 3.2rem;
}
.footer-sitemap {
	display: grid;
	align-self: start;
	margin-top: 3.2rem;

	justify-items: end;
}

.footer-contact-heading {
	margin-bottom: 4rem;
	font-size: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;
}
.footer-contact-box {
	font-style: normal;
	font-size: 1.6rem;
	line-height: 1.6;
}
.footer-contact-box p:first-of-type {
	margin-bottom: 2.4rem;
}
.footer-nav {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	list-style: none;
	text-transform: uppercase;
}
.footer-link:link,
.footer-link:visited {
	font-size: 1.6rem;
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
}
.footer-link:hover,
.footer-link:active {
	color: var(--colorPrimary);
}
